{% load static %}

<!DOCTYPE html>
<html>
<head>
     <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <title>Optimizador de Producción</title>
</head>
<body>
    <h1>Subir archivo CSV para optimización</h1>

    <form method="post" enctype="multipart/form-data">
        <!-- protección contra ataques cross-site request -->
        {% csrf_token %} 
        {{ form.as_p }}
        <button type="submit">Ejecutar Optimización</button>
    </form>

    {% if error %}
        <p style="color: red;">Error: {{ error }}</p>
    {% endif %}

    {% if results_html %}
        <h2>Resultados</h2>
        {{ results_html|safe }}
    {% endif %}
</body>
</html>
